---
export const prerender = false;
import { SITE_TITLE } from "../consts";

interface Props {
  shareTitle?: string;
}
const { shareTitle } = Astro.props;
---

<div class="footer__share">
  <p class="share--head">SHARE</p>
  <div class="share--list">
    <ul>
      <li>
        <a
          href={`https://twitter.com/intent/tweet?url=${new URL(Astro.url.pathname, Astro.site)}&text=${shareTitle || SITE_TITLE}`}
          onclick="window.open(this.href,'tw_window', 'screenX='+(screen.width - 600) / 2+',screenY='+(screen.height - 500) / 2+',width=600, height=300, menubar=no, toolbar=no, scrollbars=yes');return false;"
          ><img
            src="/shared/img/common/share_x.png"
            width="60"
            height="60"
            alt=""
          /></a
        >
      </li>
      <li>
        <a
          href={`https://www.facebook.com/share.php?u=${new URL(Astro.url.pathname, Astro.site)}`}
          onclick="window.open(this.href,'tw_window', 'screenX='+(screen.width - 800) / 2+',screenY='+(screen.height - 400) / 2+',width=800, height=400, menubar=no, toolbar=no, scrollbars=yes');return false;"
          ><img
            src="/shared/img/common/share_facebook.svg"
            width="60"
            height="60"
            alt=""
          /></a
        >
      </li>
      <li>
        <a
          href={`https://line.me/R/msg/text/?${shareTitle || SITE_TITLE}%20${new URL(Astro.url.pathname, Astro.site)}`}
          onclick="window.open(this.href,'tw_window', 'screenX='+(screen.width - 800) / 2+',screenY='+(screen.height - 600) / 2+',width=800, height=600, menubar=no, toolbar=no, scrollbars=yes');return false;"
          ><img
            src="/shared/img/common/share_line.svg"
            width="60"
            height="60"
            alt=""
          /></a
        >
      </li>
    </ul>
  </div>
</div>
