---
export const prerender = false;

interface Props {
  shareTitle?: string;
}
const { shareTitle } = Astro.props;
---

<div class="foot--share__list">
  <ul>
    <li class="foot--share__list__twitter">
      <a
        href={`https://twitter.com/intent/tweet?url=${new URL(Astro.url.pathname, Astro.site)}&text=${shareTitle}`}
        onclick="window.open(this.href,'tw_window', 'screenX='+(screen.width - 600) / 2+',screenY='+(screen.height - 500) / 2+',width=600, height=300, menubar=no, toolbar=no, scrollbars=yes');return false;"
        ><img
          src="/shared/img/common/share_x.png"
          width="42"
          height="42"
          alt=""
        /></a
      >
    </li>
    <li class="foot--share__list__facebook">
      <a
        href={`https://www.facebook.com/share.php?u=${new URL(Astro.url.pathname, Astro.site)}`}
        onclick="window.open(this.href,'tw_window', 'screenX='+(screen.width - 800) / 2+',screenY='+(screen.height - 400) / 2+',width=800, height=400, menubar=no, toolbar=no, scrollbars=yes');return false;"
        ><img
          src="/shared/img/common/share_facebook.svg"
          width="42"
          height="42"
          alt=""
        /></a
      >
    </li>
    <li class="foot--share__list__line">
      <a
        href={`https://line.me/R/msg/text/?${shareTitle}%20${new URL(Astro.url.pathname, Astro.site)}`}
        onclick="window.open(this.href,'tw_window', 'screenX='+(screen.width - 800) / 2+',screenY='+(screen.height - 600) / 2+',width=800, height=600, menubar=no, toolbar=no, scrollbars=yes');return false;"
        ><img
          src="/shared/img/common/share_line.svg"
          width="42"
          height="42"
          alt=""
        /></a
      >
    </li>
  </ul>
</div>
